
/*
   KI Sidebars LESS
----------------------------------------------------------- */


#PageLinesToolbox.pl-toolbox .toolbox-panel .tab-panel .opt{
	
	.save-sidebar{
		float: right;
	}

	.saving{
		float: left;
	}

	.removal_status{
		color: #000;
	}

	#ki_sidebars_table{
		th{
			background-color: #666;
			color: #fff;
			padding: 5px 20px;
			text-align: left;
		}
		td{
			padding: 5px 20px;
			text-align: left;
		}
		tr.alternate{
			background-color: #ededed;
		}
	}
}

#PageLinesToolbox.pl-toolbox .toolbox-panel #ki-Infinite-Sidebars .opt.opt-ki_sidebar_add,
#PageLinesToolbox.pl-toolbox .toolbox-panel #ki-Infinite-Sidebars .opt.opt-ki_tpl_sidebar_display{
	width: 95%;
}